[Unit]
Description=Prometheus server daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/data/prometheus/prometheus \
          --config.file "/data/prometheus/prometheus.yml" \
          --storage.tsdb.path "/data/prometheus/data" \
          --storage.tsdb.retention=15d \
          --web.console.templates="/data/prometheus/consoles" \
          --web.console.libraries="/data/prometheus/console_libraries" \
          --web.max-connections=512 \
          --web.external-url"http://192.168.24.17:9090" \
          --web.listen-address "0.0.0.0:9090"
Restart=on-failure

[Install]
WantedBy=multi-user.target